@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@model Product
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
<script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>

<div>
    <div class="col-2">
        <label>Attachment:</label>
    </div>
    <div class="col-8">
        <form id="uploadform" enctype="multipart/form-data">
            <input type="file" class="filepond" asp-for="photos">
            <button type="submit" class="uploadbtn">Save</button>
        </form>
    </div>
</div>

<button id="myButton">FileControl</button>
<button id="pulpload">FileControl</button>

<button id="autocomplet">Autocomplet</button>
<button id="datatableColExp">DataTable</button>






<script>
    $(document).ready(function(e){
pond = FilePond.create(
    document.querySelector('.filepond'), {
        allowMultiple: true,
        instantUpload: false,
        allowProcess: false
    });

$("#uploadform").submit(function (e) {
  e.preventDefault();
  var formdata = new FormData(this);
  // append FilePond files into the form data
  pondFiles = pond.getFiles();
  for (var i = 0; i < pondFiles.length; i++) {
      // append the blob file
      formdata.append('photos', pondFiles[i].file);
  }

  $.ajax({
    url: "/Home/Index",
    data: formdata,

    processData: false,
    contentType: false,
    method:"post"

  });

})
    });


    $(document).ready(function() {
        $('#myButton').click(function() {
            window.location.href = '@Url.Action("Index", "Multiplefileupload")'; // Replace ActionName and ControllerName with your action and controller names
        });
    });

     $(document).ready(function() {
         $('#pulpload').click(function() {
            window.location.href = '@Url.Action("Index", "Multiplefileupload")'; // Replace ActionName and ControllerName with your action and controller names
        });
     });

    $(document).ready(function() {
        $('#autocomplet').click(function() {
            window.location.href = '@Url.Action("AutoTextBox", "Multiplefileupload")'; // Replace ActionName and ControllerName with your action and controller names
        });
     });

     $(document).ready(function() {
         $('#datatableColExp').click(function() {
            window.location.href = '@Url.Action("DataTableColExp", "Multiplefileupload")'; // Replace ActionName and ControllerName with your action and controller names
        });
     });

</script>