@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<button id="openModalBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#mySearchModal">Open Modal</button>

<div id="mySearchModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="role-form" method="get">
                <div class="modal-header" style="display: block !important;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><b>Student Name</b></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group col-md-12">
                        <label class="control-label">Student Key</label>
                        <input name="studntdata" id="autocompleteTextbox" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Student Name</label>
                        <input name="stuname" id="name" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Student Address</label>
                        <input name="stuaddress" id="Address" type="text" class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
</div>



<input type="text" id="autocomplete" placeholder="Type something">





@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/css/AutoTextBox.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script>
        $(document).ready(function () {

            // Event handler for button click
            $('#openModalBtn').click(function () {
                // Show the modal
                $('#mySearchModal').show();
            });

            var data = ["Apple","Apple box","Apple quentity","Apple size", "Banana", "Cherry", "Date", "Elderberry"];
            $("#autocompleteTextbox").autocomplete({
                source: data
            });



            $("#autocomplete").autocomplete({
                source: function (request, response) {
                    // AJAX call to fetch autocomplete suggestions
                    $.ajax({
                        url: '/Multiplefileupload/StudentList', // Assuming your controller is HomeController and action method is StudentList
                        method: 'POST',
                        dataType: 'json',
                        data: { prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item,
                                    value: item
                                };
                            }));
                        }
                    });
                },
                minLength: 1 // Minimum characters before triggering autocomplete
            });

        });
    </script>
}